@media only screen 
    and (max-width: 500px){
    body{
        font-size: 15px;
    }
    
    .website-list a{
        margin: 0rem;
    }
   
    footer p{
        text-align: center;
    }
}

@media only screen 
  and (max-width: 950px){
    main{
        max-width: 80%;
    }
}
